<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %>
</head>
<body class="container">
<header>
    <%- include('../partials/header'); %>
</header>
<main>
    <div class="jumbotron">
        <h1>Dataset</h1>
        <a class="btn btn-primary" href="/storages/shs_score.csv" target="_blank">Download CSV</a>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <% nameTable.forEach(function(val){ %>
                        <td><%= val.name %></td>
                    <% }); %>
                </tr>
                </thead>
                <tbody>
                <% dataset.forEach(function(row){ %>
                    <tr>
                        <% names.forEach(function(name){ %>
                            <td><%= row[name] %></td>
                        <% }); %>
                    </tr>
                <% }); %>
                </tbody>

            </table>
        </div>
    </div>
</main>
<script>
    var table = new DataTable("table");
</script>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>