<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %>
</head>
<body class="container">
<header>
    <%- include('../partials/header'); %>
</header>
<main>
    <div class="jumbotron">
        <form method="get">
            <% names.forEach(function(valname,i){ const formname = nameTable[i];  %>
            <%if(!formname.isExcept){%>
                <div>
            <label for="<%= valname %>"><%= formname.name %></label>
            <% if(formname.ops) { %>
                <select name="<%= valname %>" id="<%= valname %>">
                    <% formname.ops.forEach(function(op,z){ %>

                        <option value="<%= z %>"><%= op %></option>
                    <% }); %>

                </select>
            <% }else{ %>
                <input step=".01" value="<%= dataQuery[valname] %>" type="<%= 'number' %>" id="<%= valname %>" name="<%= valname %>" />
            <% }}}); %>
        </div>
            <button type="submit">Check</button>
        </form>

        <%# error tag %>
        <div>
            <p><%= msgError %></p>
        </div>

        <%# result tag %>
        <% if(result){ %>

            <div>
                <p><%= result.notice %></p>
                <p><%= result.result %></p>
            </div>
        <%}%>
    </div>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>